// Place all the styles related to the Computers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comp-submit {
    display: none;
}

.flash-success {
    margin: 20px;
    height: 75px;
    background-color: green;
    color: white;
}
