// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
    padding: 20px;
}

#reg_form, #login_form {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

#newuser_wrapper {
    width: 600px;
    margin: 100px auto;
}

.level_set * {
    display: inline-block;
}
.level_set p {
    margin-right: 40px;
}

body {
    background-color: lightsteelblue;
}

